
<p class="show_txt"><strong>Title:</strong><%= @book.title %></p>
<p class="show_txt"><strong>Body:</strong><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %><span>｜</span><%= link_to "Back" , "/books" %>