<h1>ようこそ <strong>Bookers</strong>  へ！</h1>

<div class="ml20">
  <p class="mtb_30"><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
  <p class="mtb_30">印象を共有し交換することができます</p>

  <span class="mtb_30">
      <%= link_to "start", "/books" %>
  </span>
</div>